@tailwind base;
@tailwind components;
@tailwind utilities;

.body, html {
   
}

.e1{
  /* Ellipse 1 */

width: 300px;
height: 300px;
left: -76px;
top: 283px;


}

.e2 {
  /* Ellipse 2 */

width: 500px;
height: 500px;
left: 1164px;
top: 826px;

}

.e3 {
  /* Ellipse 3 */

width: 500px;
height: 500px;
left: 146px;
top: 1538px;


}

.e4 {
width: 500px;
height: 500px;
left: 1162px;
top: 2024px;

}
/* Ellipse 4 */


.e5 {
  /* Ellipse 5 */

width: 300px;
height: 300px;
left: -23px;
top: 2418px;

}